@font-face {
    font-family: 'AntonSC-Regular';
    src: url('../assets/fonts/AntonSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Danfo-Regular-VariableFont_ELSH';
    src: url('../assets/fonts/Danfo-Regular-VariableFont_ELSH.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
